@charset "UTF-8";

/* ============================================================
     SiteUP!  (c) J. Alejandro Ceballos Z.
       Name:  style-default.css - Build 2007
    License:  MIT - https://tldrlegal.com/license/mit-license
    ============================================================ */ 

  
/* basic */


a:focus {
    outline:thin dotted;
    outline:0.2rem #eee auto;
    outline-offset:-0.1rem
    }
    
img { vertical-align:middle; }

 /* text */
 
 
h1, h2, h3, h4, h5, h6 {
    /* opt 5% 10% */
    margin-top: 0.125rem; 
    margin-bottom: 0.5rem; 
    }
  
  

/* forms and buttons */

[type='date'], .isdate, [type='datetime-local'], .isdatetime, [type='email'], .isemail,
.ishome, .isid, .islocation, .islogin,  [type='month'], .ismonth, [type='number'], .isnumber,
[type='password'], .ispassword, [type='range'], .isrange, [type='search'], .issearch, [type='tel'], .isphone,
[type='time'], .istime, [type='url'], .isurl, [type='week'], .isweek { 
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 0.875em;
    padding-right:1.5em;
    border-radius: 0.125em;
    }
    
[type='date'], .isdate, [type='datetime-local'], .isdatetime, [type='email'], .isemail,
.ishome, .isid, .islocation, .islogin,  [type='month'], .ismonth, [type='number'], .isnumber,
[type='password'], .ispassword, [type='range'], .isrange, [type='reset'], [type='search'], .issearch, [type='submit'], [type='tel'], .isphone,
[type='time'], .istime, [type='url'], .isurl, [type='week'], .isweek, button, .button, select, textarea { 
    width: 100%;
    }
 

[type='color'], .iscolor {
    background-image:url('../img/sicons/color.png');
    }
    
[type='date'], .isdate {
    background-image:url('../img/sicons/date.png');
    }
    
[type='datetime-local'], .isdatetime {
    background-image:url('../img/sicons/datetime.png');
    }
    
[type='email'], .isemail {
    background-image:url('../img/sicons/email.png');
    }
    
.ishome {
    background-image:url('../img/sicons/email.png');
    }
    
.isid {
    background-image:url('../img/sicons/email.png');
    }
    
.islocation {
    background-image:url('../img/sicons/email.png');
    }
    
.islogin {
    background-image:url('../img/sicons/email.png');
    }
    
[type='month'], .ismonth {
    background-image:url('../img/sicons/month.png');
    }
    
[type='number'], .isnumber {
    background-image:url('../img/sicons/number.png');
    }
    
[type='password'], .ispassword {
    background-image:url('../img/sicons/password.png');
    }
    
[type='range'], .isrange {
    background-image:url('../img/sicons/range.png');
    }
    
[type='search'], .issearch {
    background-image:url('../img/sicons/search.png');
    }
    
[type='tel'], .isphone {
    background-image:url('../img/sicons/phone.png');
    }
    
[type='time'], .istime {
    background-image:url('../img/sicons/time.png');
    }
    
[type='url'], .isurl {
    background-image:url('../img/sicons/url.png');
    }
    
[type='week'], .isweek {
    background-image:url('../img/sicons/week.png');
    }
    
button, .button, [type='reset'], [type='submit'] {
    border-radius: 0.825em;
    }


/* tables */
 
.table-list thead {
    background-color: #fcfcfc;
    border-bottom: 0.2em #ccc solid;
    }
    
.table-list thead:hover {
    background-color: #f9f9f9;
    border-bottom-color: #999;
    }
    
.table-list .tfoot {
    background-color:#ccc;
    border-top:0.2em #ccc solid;
    }
    
.table-desc .thead {
    background-color:#fcfcfc;
    border-right:0.2em #ccc solid;
    }
    
.table-desc .tr:hover {
    background-color:#f9f9f9;
    }
    
.table-desc .thead {
    border-right:0.2em #999 solid;
    }
 