@charset "UTF-8";

/* ============================================================
     SiteUP!  (c) J. Alejandro Ceballos Z.
       Name: effects.css - Build 2007
    License: MIT - https://tldrlegal.com/license/mit-license
    ============================================================ */ 
 
  
/* text */
  
blockquote { border-left:1px solid #cacaca; } 
abbr { border-bottom:1px dotted #0a0a0a; cursor:help; text-decoration:none; } 
a { cursor:pointer; }  
a img { border:0; } 
  
/* forms and buttons */
 
[type='text'], [type='color'], [type='date'], [type='datetime-local'], [type='email'], [type='month'],
[type='number'], [type='password'], [type='range'], [type='search'], [type='tel'], [type='time'],
[type='url'], [type='week'], select, textarea {  border:1px solid #ccc; border-radius:0.125em; -webkit-appearance:none; -moz-appearance:none; appearance:none; } 
[type='text']:focus, [type='color']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus,
[type='number']:focus, [type='password']:focus, [type='range']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus,
[type='url']:focus, [type='week']:focus, option:focus, textarea { border-color:#ccc; } 
input:disabled, textarea:disabled, fieldset[disabled] { opacity:0.8; cursor:not-allowed; }
[type='checkbox']:readonly, [type='radio']:readonly { cursor:not-allowed; }
::placeholder, ::-ms-input-placeholder, ::-webkit-input-placeholder, ::-moz-placeholder { color:#eee; } 
button, [type='button'], [type='reset'], [type='submit'] { appearance:none; -moz-appearance:none; -webkit-appearance:none; border-radius:0.625em; }

/* tables */
table, .table { border-spacing:0.625em; border-collapse:separate; background-color:transparent; }
.table-opaque { background-color:#f9f9f9; }
.table-opaque th, .table-opaque .th, .table-opaque td, .table-opaque .td { background-color:#fcfcfc; }
th, .th, td, .th { background-color:transparent; }

/* border, round */     

.round { border-radius:0.875em; }
.round-no { border-radius:0; } 
.round-small { border-radius:0.325em; } 
.round-medium { border-radius:0.625em; } 
.round-large { border-radius:1.25em; }  
.round-quarter { border-radius:12.5%; } 
.round-half { border-radius:25%; } 
.round-full { border-radius:50%; }  
.border { border:0.125em #ccc solid; } 
.border-no { border:0; } 
.border-small { border:0.325em #ccc solid; } 
.border-medium { border:0.625em #ccc solid; } 
.border-large { border:1.25em #ccc solid; }     
    
/* visibility */

.show, .hide-s, .hide-m, .hide-l  { display:block; } 
.hide, .show-s, .show-m, .show-l { display:none; }

@media (min-width:25em) {
    .show-s { display:block; }
    .hide-s { display:none; }
    }

@media (min-width:40em) {
    .show-m { display:block; }
    .hide-m { display:none; }
    }

@media (min-width:64em) {
    .show-l { display:block; }
    .hide-l { display:none; }
    } 
    
@media (orientation:landscape) {
    .show-h { display:block; }
    .hide-h { display:none; }
    }

@media (orientation:portrait) {
    .show-v { display:block; }
    .hide-v { display:none; }
    }

/* notification */    

.bkg-danger { background-color:#d02; }     
.bkg-alert { background-color:#f73; }     
.bkg-warning { background-color:#fc2; }     
.bkg-success { background-color:#0b2; }     
.bkg-inform { background-color:#05e; }  
.bkg-note { background-color:#ccc; }     
.danger { color:#d02; }     
.alert { color:#f73; }     
.warning { color:#fc2; }     
.success { color:#0b2; }     
.inform { color:#05e; }      
.note { color:#ccc; }     
.border-danger { border-color:#d02; }     
.border-alert { border-color:#f73; }     
.border-warning { border-color:#fc2; }     
.border-success { border-color:#0b2; }     
.border-inform { border-color:#05e; }

.error { border:0.2em solid #900; }


