@charset "UTF-8";

/* ============================================================
     SiteUP!  (c) J. Alejandro Ceballos Z.
       Name: typo.css - Build 2007
    License: MIT - https://tldrlegal.com/license/mit-license
    ============================================================ */

/* R text:400 link:500 bold:700 | OS headers:600 legends:400 | RC code:300 */

@import url('https://fonts.googleapis.com/css?family='Open+Sans':wght@400;600&family=Roboto+Mono:wght@300&family=Roboto:wght@400;500;700&display=swap'); 

/* basic tags */
 
body { font-family:'Roboto',sans-serif; font-weight:400; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; line-height:1.5; font-size:100%; background-color:#fcfcfc; color:#333; } 
    
/* text */    
 
h1,h2,h3,h4,h5,h6 { font-family:'Open Sans',sans-serif; font-weight:500; color:#222; }
h1 {font-size:3em}
h2 {font-size:2.25em}
h3 {font-size:1.5em}
h4 {font-size:1.25em}
h5 {font-size:0.875em}
h6 {font-size:0.625em}
a { font-family:'Roboto',sans-serif; font-weight:500; color:#333; text-decoration:none; }  
p { line-height:1.5; text-indent:0; orphans:3; widows:3; }
em, i { font-style:italic; }
strong, b { font-weight:700; }
big, .big { font-size:125%; } 
small, .small { font-size:80%; }
code, kbd { font-family:'Roboto Mono', monospace; color:#333; }
del { color:#999; } 
ins { color:#222; }
cite { font-style:italic; word-wrap:break-word; white-space:pre; }
sub, sup { font-size:0.625rem; vertical-align:baseline; } 
sup { vertical-align: super; font-size: 0.825em; } 
sub { vertical-align: sub; font-size: 0.825em; }
.text-bold { font-weight:bold; } 
.text-italic { font-style:italic; } 
.text-kbd { font-family:monospace; } 
.text-under { text-decoration:underline; } 
.text-stroke { text-decoration:line-through; } 
.text-blink { text-decoration:blink; } 
.text-lower { text-transform:lowercase; } 
.text-upper { text-transform:uppercase; } 
.text-capital { text-transform:capitalize; } 
.text-scaps { font-variant:small-caps; } 
.text-left { text-align:left; } 
.text-right { text-align:right; } 
.text-center { text-align:center; } 
.text-justify { text-align:justify; }
@media print, screen and (min-width:25em) {
    .text-sleft { text-align:left; }
    .text-sright { text-align:right; }
    .text-scenter { text-align:center; }
    .text-sjustify { text-align:justify; }
    } 
@media print, screen and (min-width:40em) {
    .text-mleft { text-align:left; }
    .text-mright { text-align:right; }
    .text-mcenter { text-align:center; }
    .text-mjustify { text-align:justify; }
    } 
@media print, screen and (min-width:64em) {
    .text-lleft { text-align:left; }
    .text-lright { text-align:right; }
    .text-lcenter { text-align:center; }
    .text-ljustify { text-align:justify; }
    }
 
/* image */

figcaption { font-family:'Open Sans',sans-serif; font-weight:400; color:#222; }   

/* lists */

ul, ol, dl { line-height:1.25; }
dt { font-weight:500; }
.list-nobullet { list-style:none; }
  
/* forms and buttons */
 
[type='text'], [type='color'], [type='date'], [type='datetime-local'], [type='email'], [type='month'],
[type='number'], [type='password'], [type='range'], [type='search'], [type='tel'], [type='time'],
[type='url'], [type='week'], [type='password'], optgroup, option, textarea { font-size:0.875rem; line-height:1.125; } 
button, .button, [type='button'], [type='reset'], [type='submit'] { appearance:none; -moz-appearance:none; -webkit-appearance:none;
  vertical-align:middle; line-height:1.25; }
placeholder { font-weight:400; color:#eee; }
optgroup { font-family:'Open Sans',sans-serif; font-weight:400; }
option { font-family:'Roboto',sans-serif; font-weight:400; }
option:checked { background-color:#fcfcfc; font-weight:500; }
legend { font-family:'Open Sans',sans-serif; font-weight:400; font-size:0.875em; color:#222; }  
label, .label { font-family:'Open Sans',sans-serif; font-size:0.875em; color:#222; }
  
/* tables */
 
th, .th { font-family:'Roboto',sans-serif; font-weight:500; text-align:left; color:#222; }    
caption { font-family:'Open Sans',sans-serif; font-weight:300; font-size:0.875em; color:#222; text-align:center; }




